@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s, color 0.3s;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Noto Serif TC", "serif";
}

::-webkit-scrollbar {
  width: 10px;
  background: #140F0A;
}

::-webkit-scrollbar-track {
  background: #140F0A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #BF9D7D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7B6651;
}


.custom-underline {
  position: relative;
  padding-bottom: 0.25rem; 
}

.custom-underline::before {
  content: '';
  display: block;
  width: 1rem;  /*初始長度*/
  height: 3px; 
  background-color: #BF9D7D;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);  /*left: 50% 和 transform: translateX(-50%)：將底線置中對齊。*/
  border-radius: 10px;
  transition: width 0.3s;
}

.custom-underline:hover::before,
.custom-underline:focus::before,
.custom-underline.active::before {
  width: 50%;
}
